#!/usr/bin/env bash
source ./scripts/utils.sh

export PROJECT=nv-ziglib-template
export VERSION=$(get_version)

# Nedavellir template tracking (parent template this was derived from)
export NV_TEMPLATE=nv-lib-template
export NV_TEMPLATE_VERSION=1.13.0

# Registry Configuration
export GCP_REGISTRY_PROJECT_ID=devops-466002
export GCP_REGISTRY_REGION=us-east1
export GCP_REGISTRY_NAME=cloudvoyant-generic-registry
