#!/usr/bin/env bash
source ./scripts/utils.sh

export PROJECT=neo
export VERSION=$(get_version)

# Nedavellir template tracking
export NV_TEMPLATE=nv-ziglib-template
export NV_TEMPLATE_VERSION=1.6.2

# Registry Configuration
# Configure these for your target registry
export GCP_REGISTRY_PROJECT_ID=devops-466002
export GCP_REGISTRY_REGION=us-east1
export GCP_REGISTRY_NAME=cloudvoyant-generic-registry
